/* ==UserStyle==
@name           [SNK] bluesky
@namespace      snake (https://terrybogard.gay/)
@version        1.3
@preprocessor   stylus

@advanced checkbox followToggle "hide follower counts" 0
@advanced checkbox numberToggle "hide interaction numbers" 0
@advanced checkbox postToggle "hide post count" 0
@advanced checkbox topToggle "hide back to top button" 0
@advanced checkbox rightToggle "hide entire right sidebar" 0
==/UserStyle== */
@-moz-document domain("bsky.app") {

body { line-height:1.5!important; }
    
/* MIDDLE COLUMN ### */
/* POSTS */
/* poster header */
.r-1bymd8e.r-177avk6.r-zl2h9q.r-18u37iz.r-1otgn73.r-1loqt21.css-175oi2r, .r-13awgt0.css-175oi2r > .css-175oi2r > .css-175oi2r > .css-175oi2r > .css-175oi2r > .r-sa2ff0.r-13qz1uu.r-1ye8kvj.r-lchren.r-1jj8364.r-13l2t4g.r-1ljd8xs.css-175oi2r > div.r-1xxn4qn.css-175oi2r > .r-ry3cjt.r-1hfyk0a.r-1udh08x.r-1loqt21.r-5kkj8d.css-175oi2r > div.css-175oi2r > div.css-175oi2r > .r-1bymd8e.r-177avk6.r-zl2h9q.r-18u37iz.r-1otgn73.r-1loqt21.css-175oi2r { margin:5px 0!important; padding:0!important; text-transform:lowercase; }
.r-1bymd8e.r-177avk6.r-zl2h9q.r-18u37iz.r-1otgn73.r-1loqt21.css-175oi2r svg, .r-13awgt0.css-175oi2r > .css-175oi2r > .css-175oi2r > .css-175oi2r > .css-175oi2r > .r-sa2ff0.r-13qz1uu.r-1ye8kvj.r-lchren.r-1jj8364.r-13l2t4g.r-1ljd8xs.css-175oi2r > div.r-1xxn4qn.css-175oi2r > .r-ry3cjt.r-1hfyk0a.r-1udh08x.r-1loqt21.r-5kkj8d.css-175oi2r > div.css-175oi2r > div.css-175oi2r > .r-1bymd8e.r-177avk6.r-zl2h9q.r-18u37iz.r-1otgn73.r-1loqt21.css-175oi2r svg { display:none!important; }
/* hide interaction counts */
if numberToggle { .css-146c3p1.r-1f6r7vd.r-a023e6, .css-146c3p1.r-h7gdob, .r-zso239.r-1otgn73.r-1loqt21.css-175oi2r > .css-146c3p1 > .css-1jxf684 { display:none!important; } }
/* PROFILES */
/* name */
.r-xnfwke.css-146c3p1 { font-size:1.25rem!important; font-weight:700!important; margin:0!important; }
.r-1ad0z5i.css-146c3p1 { opacity:60%!important; }
/* follower counts */
if followToggle { a.r-zso239.r-18u37iz.r-1otgn73.r-1loqt21.css-175oi2r > .r-vw2c0b.css-146c3p1 { display:none!important; } }
/* post count */
if postToggle { div.r-12vffkv.css-175oi2r > div.css-146c3p1 { display:none!important; } }
/* back to top button */
if topToggle { .r-2llsf.css-175oi2r > .r-13awgt0.css-175oi2r > .css-175oi2r > .css-175oi2r > .r-1otgn73.r-1loqt21.r-lrvibr.r-1i6wzkk.css-175oi2r { display:none!important; } }
/* RIGHT SIDEBAR ### */
if rightToggle { .r-1ipicw7.r-1xcajam.r-1rnoaur.r-pm9dpa.r-196lrry.css-175oi2r { display:none!important; } }
/* little footer */
.css-175oi2r.r-1x0uki6.r-1ubuhtd { display:none!important; }
.r-3pj75a.r-1mmae3n.r-1s2bzr4.r-18u37iz.r-5kkj8d.r-1awozwy.r-1otgn73.r-1loqt21.r-lrvibr.r-1i6wzkk.css-175oi2r { padding:0 1rem!important }

/* BORDER REMOVAL ### */
.css-175oi2r { border:0!important; }
    
}
