/* ==UserStyle==
@name         [snk] uesp
@version      1.0
@namespace    snake (terrybogard.gay)
@license      CC0
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("uesp.net") {
:root {
--bg1:#1b1820;
--bg2:#282A3A;
--bg3:#303347;
--text1:#cdcdb8;
--text2:#C69749;
--links:#C69749;
--borders:#3b3e53; }

body { font-family:'Inter'; color:var(--text1); background:var(--bg1)!important; }

.pBody { background:var(--bg2)!important; border:1px solid var(--bg2)!important; }
#p-cactions > .pBody, #p-personal > .pBody { background:transparent!important; border:0!important; }
#p-cactions li a { padding:.3em .8em; }
#p-cactions ul li a { background:var(--bg1)!important; }
#p-cactions li { border:0!important; }
#p-cactions ul li.selected a { background:var(--bg2)!important; }
#p-cactions li.selected { border:0!important; }
#searchBody { background:var(--bg2)!important; }
#searchInput { color:var(--text1)!important; }

div#content { color:var(--text1)!important; background:var(--bg2)!important; border:1px solid var(--bg2)!important; }
.mw-body-content { font-size:1rem!important; line-height:1.7; }

#uespMainLogo, .notice-default { background:var(--bg3)!important; border:2px solid var(--bg3)!important; }

.mw-ui-input { color:var(--text1)!important; background:var(--bg3)!important; border:1px solid var(--bg3)!important; box-shadow:inset 0 0 0 0.1em var(--bg2); }
.mw-ui-button { color:var(--text1)!important; background:var(--bg3)!important; border:1px solid var(--bg3)!important; }

#uespNewsDiv, #uespFADiv { background:var(--bg3)!important; border:1px solid var(--bg3)!important; }

div.thumb div { background:var(--bg2)!important; border:1px solid var(--bg2)!important; }
.thumbimage { border:0!important; }
.thumbcaption { color:var(--text1)!important; }

table.wikitable, .racecolor1-nord { color:var(--text1)!important; background:var(--bg3)!important; }
.racecolor2-nord { color:var(--text1)!important; }
table.wikitable > tr > th, table.wikitable > * > tr > th { background:var(--bg2)!important; }

.toc, #toc, #catlinks { background:var(--bg3)!important; border:1px solid var(--bg3)!important;  }
.tocnumber { color:var(--text1)!important; }

div.quotebox { background:var(--bg3)!important; border:1px solid var(--bg3)!important; }

#skyrimBox { background:var(--bg3)!important; outline:2px solid var(--borders)!important; }
#skyrimBox p { color:var(--text1)!important; }

.citation:target, .citation:target td { background:var(--bg3)!important; }

table.attColor th, tr.attColor th, tr.attColor td, th.attColor, td.attColor, .navbox-even { background:var(--bg2)!important; }
table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td { border:1px solid var(--borders)!important; }

.navbox { border-color:var(--borders)!important; }
.navbox, .navbox-subgroup { background:var(--bg3)!important; }
.navbox-title, .navbox-group { background:var(--bg2)!important; }
.navbox-list { border-color:var(--borders)!important; }

div#footer { color:var(--text1)!important; background:var(--bg1)!important; border:0!important; }

h1,h2,h3,h4,h5,h6 { color:var(--text2)!important; font-weight:bold; border-color:var(--borders)!important; }
table { background:var(--bg3)!important; }
code, pre, .mw-code { color:var(--text2)!important; background:var(--bg1)!important; border:0!important; }
hr { color:var(--borders)!important; border-color:var(--borders)!important; background:var(--borders)!important; }
a { color:var(--links)!important; }
}
